/* IMPORTANDO FONTES */
@font-face {
  font-family: Garet-Heavy;
  src: url('./Assets/Fonts/Garet-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: Garet-Book;
  src: url('./Assets/Fonts/Garet-Book.ttf') format('truetype');
}

/* DECLARANDO VARIÁVEIS */
:root {
  --fonteTitulo: "Garet-Heavy", sans-serif;
  --fontePadrao: "Garet-Book", sans-serif;
}

/* DEFININDO ESTILO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fontePadrao);
  overflow-x: hidden;
}

body {
  width: 100vw;
  background-color: #121212;
  color: #FFFFFF;
}

.inicio {
  display: flex;
  align-items: flex-end;
  background-image: url('./Assets/notebook.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#incEsquerda {
  display: flex;
  align-items: flex-start;
  width: 50%;
  height: 75%;
  justify-content: center;
}

#incContainer {
  width: 65%;
  height: 85%;
}

.mensagemPrincipal {
  font-size: 5.2rem;
}

#incDireita {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
}

section{
  height: 100vh;
  width: 100%;
}

.ofertas{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  
}

.ofertas-container{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  
}
.ofertas-item{
  border: 5px solid black;
  border-radius: 20px;
  height: 100%;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items:center;
  color: black;
  margin-right: 10px;
  
}
.ofertaIMG{
  width: 100;
  height: 50%;
  
}
.tituloOferta{
  margin: 10px;
}
.descricaoOferta{
  width: 70%;
  font-size: 1.2rem;
  
}
#h1Ofertas{
  padding-top: 20px;
  align-self: center;
  margin: 0;
  color: black;
  font-size: 2rem;
  height: 20%;
  width: 90%;
  
}


/* DEFININDO ANIMAÇÕES */